.chapters {
    margin-left: 0;
}

.chapters-content {
    max-width: calc(1366px - 280px);
}

.chapters-with-menu {
    margin-left: 280px;
}

.layout-list {
    overflow: auto;
}

.layout-list .list-content {
    height: calc(100vh - 181px);
}

.layout-content {
    height: calc(100vh - 100px);
    overflow: auto;
}

@media only screen and (max-device-width: 812px) {
    .chapters-with-menu {
        margin-left: 0;
    }
}